stag/eigen-3.3.9/** linguist-vendored
stag/stag_lib/*.c linguist-vendored
stag/stag_lib/*.h linguist-vendored

stag/stag_internal_wrap.cxx linguist-generated
stag/stag_internal_wrap.h linguist-generated
